.sec3 {
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.sec3 h1 {
    text-align: center;
    font-size: 2.2rem;
    color: #333333;
    margin-bottom: 20px;
}

.sec3 .advantage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 28px;
    color: #333333;
}

.sec3.advantage-1 img {
    width: 19rem;
}

.sec4 {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.sec4 h1 {
    text-align: center;
    font-size: 2.2rem;
    color: #333333;
    margin-bottom: 20px;
}

.sec4 .rating,
.parents-review {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2.5rem;
}

.sec4 .rating .download,
.star-rating,
.cities,
.minutes {
    margin-right: 5rem;
    margin-left: 5rem;
    align-items: center;
}

.sec4 .rating .download img,
.star-rating img,
.cities img,
.minutes img {
    width: 3rem;
}

.sec4 .rating .download h2,
.star-rating h2,
.cities h2,
.minutes h2 {
    color: purple;
}

.sec4 .rating .download p,
.star-rating p,
.cities p,
.minutes p {
    color: #333333;
}

.sec4 .parents-review .parent-1,
.parent-2,
.parent-3 {
    text-align: center;
    margin-left: 0.6rem;
    margin-right: 0.6rem;
    margin-top: 4rem;
}

.sec4 .parents-review .parent-1 .parents,
.parent-2 .parents,
.parent-3 .parents {
    width: 9rem;
    cursor: pointer;
}

.sec4 .parents-review .parent-2 {
    margin-bottom: 20px;
}

.sec4 .parents-review .parent-1 .video,
.parent-2 .video,
.parent-3 .video {
    margin-left: -3.5rem;
    cursor: pointer;
}

.sec4 .parents-review .parent-1 p,
.parent-2 p,
.parent-3 p {
    font-size: 15px;
    color: #333333;
    margin-top: 20px;
}

.sec4 .parents-review .parent-1 h4,
.parent-2 h4,
.parent-3 h4 {
    color: #333333;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sec4 .parents-review .parent-1 .location,
.parent-2 .location,
.parent-3 .location {
    font-size: 13px;
}

.sec4 .parents-review .arrow {
    transform: rotate(180deg);
}

.sec4 .button {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.sec4 .button button {
    padding: 10px 40px;
    font-size: 15px;
    border: transparent;
    border-radius: 50px;
    cursor: pointer;
    background: linear-gradient(135deg, #5d70ff, #8b40ff);
    color: white;
    font-weight: 500;
}

.sec4 .button button ion-icon {
    margin-bottom: -4px;
    margin-left: 4px;
    font-weight: 600;
    font-size: 18px;

}

.sec5 .top {
    margin-top: 3rem;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 1rem;
}

.sec5 .top img {
    width: 350px;
    margin-bottom: 1.5rem;
}

.sec5 .middle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.sec5 .middle .card {
    border-radius: 10px;
    padding: 15px 15px;
    margin-left: 20px;
    margin-right: 20px;
    background: #f2f2f2;
    box-shadow: #e2d5e5 0px 10px 20px 0px;
}

.sec5 .middle .card img {
    width: 230px;
    height: 250px;
}

.sec5 .middle .card h4{
    margin-top: 5px;
    margin-bottom: 5px;
    color: purple;
}

.sec5 .middle .card p{
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 25px;
}

.sec5 .middle .card button{
    background: transparent;
    color: purple;
    font-size: 17px;
    font-weight: 500;
    border-bottom: 2.7px solid purple;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    padding-bottom: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

.sec5 .middle .arrow{
    transform: rotate(180deg);
    opacity: 0.3;
}

.sec5 .bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec5 .bottom button{
    padding: 15px 50px;
    font-size: 18px;
    color: white;
    border: transparent;
    border-radius: 10px;
    background: linear-gradient(135deg, #ff8d33, #ff5263);
    cursor: pointer;
}

.sec5 .bottom img{
    width: 8rem;
    margin-top: 30px;
    margin-bottom: 30px;
}

footer img{
     z-index: 1008;
     width: 100%;
     cursor: pointer;
}

footer .course{
    background: #813588;
    display: flex;
    justify-content: space-between;
    margin-top: -80;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 20px;
}

footer .course .courses, .exam-class, .exam-resources, .company-follow, .textbook, .state-board{
    width: 17%;
    display: inline-grid;
    min-height: 1px;
}

footer .course .courses p, .exam-class p, .exam-resources p, .company-follow p, .textbook p, .state-board p{
color: #ffc846;
font-weight: 500;
font-size: 14px;
margin-top: 15px;
margin-bottom: 15px;
}

footer .course .courses a, .exam-class a, .exam-resources a, .company-follow a, .textbook a, .state-board a{
color: white;
text-decoration: none;
margin-bottom: 5px;
font-size: 13px;
}

footer .course .courses a:hover, .exam-class a:hover, .exam-resources a:hover, .company-follow a:hover, .textbook a:hover, .state-board a:hover{
font-weight: 500;
}    

footer .course .company-follow .follow{
    display: flex;
}

footer .course .company-follow .follow img{
    width: 30px;
}

footer .bottom{
    background-color: #813588;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 3rem;
    font-size: 13px;
}

footer .bottom .pages a{
    color: white;
    text-decoration: none;
}

footer .bottom .pages ion-icon{
    transform: rotate(90deg);
    font-size: 3px;
    margin-bottom: -10px;
}

footer .bottom .copyright{
    margin-top: 10px;
}


